.headerContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
}
.siteTitle {
  grid-area: 1/1/2/2;
}

.welcome {
  grid-area: 1/2/2/3;
}

.create {
  grid-area: 1/3/2/4;
}

.mySynths {
 grid-area: 1/4/2/5;
}

.allSynths {
  grid-area: 1/5/2/6;
}

.logout {
  grid-area: 1/6/2/7;
}
