.listContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  margin-top: 50px;
}

.mySynthsList {
  grid-area: 1/2/2/3;
  background-color: white;
}

.favoriteSynthList {
  grid-area: 1/4/2/5;
  background-color: white;
}
